@import "colors.css";

window#waybar {
    background-color: transparent;
}

#workspaces {
    padding: 0 8px;
}

#workspaces button {
    border: 1px solid transparent;
}

#workspaces button.active {
    color: @accent;
    transition: all 0.5s ease;
}

#workspaces button:hover {
    border-color: @accent;
    background: transparent;
    box-shadow: none;
}

#clock,
#window,
#network,
#custom-fcitx,
#pulseaudio,
#tray,
#cpu,
#memory,
#battery {
    padding: 0 8px;
    font-weight: 500;
    color: @accent;
    transition: color 0.3s ease;
}

#cpu.good,
#memory.good,
#battery.good {
    color: @color2;
}

#cpu.warning,
#memory.warning,
#battery.warning{
    color: @color3;
}

#cpu.critical,
#memory.critical,
#battery.critical {
    color: @color1;
}

#network.disconnected {
    color: @color1;
}

#network.linked {
    color: @color3;
}