* {
    /* 核心三色 */
    background: {{background}};
    foreground: {{foreground}};
    accent:     {{color4}}; /* 與 Hyprland 保持一致 */

    /* 衍生顏色 */
    background-alt: {{color0}}; /* 稍微亮一點的背景，用於選中項目背景 */
    selected:       {{color4}}; /* 選中項目的文字或邊框 */
    urgent:         {{color1}};
}
