@keyframes timeout-bar {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.notification-row .notification-background {
    position: relative;
    padding-bottom: 5px;
    overflow: hidden;
    border-radius: 12px;
}

.notification-row .notification-background::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background-color: #89b4fa;
    
    animation: timeout-bar 5s linear forwards;
}

.notification-row:hover .notification-background::after {
    animation-play-state: paused;
}

.notification-row.critical .notification-background::after {
    background-color: #f38ba8;
}