#workspaces button {
    color: @foreground;
}

#workspaces button.active {
    color: @accent;
    text-shadow:
        0 0 5px @accent,
        0 0 10px @accent;
    background: transparent;
}

window#waybar {
    background: rgba(15, 17, 26, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    margin: 8px 15px;
}

#clock,
#memory,
#cpu {
    padding: 0 10px;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

#clock:hover {
    border-bottom: 2px solid @accent;
    color: @accent;
}
